body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    size: 50px;
}

.orange-color {
    color: orange;
}

p {
    color: rgb(56, 53, 53);
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
    height: 400px;
    border-radius: 50%;
}

.link-btn {
    text-decoration: none;
    /* gradient */
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}